* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 440px;
    background-color: gray;
    padding: 50px 32px;
}

.reset-password__popup {
    background-color: #2a9d8f;
    color: white;
    padding: 16px 24px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 460px;
    width: 100%;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    animation: slideDown 0.3s ease-out;
  }

.create-account__popup-close {
    background: white;
    border: none;
    color: #111;
    cursor: pointer;
    padding: 7px 15px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.2s;
    font-weight: bold;
}